<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>USER</title>

    <link rel="stylesheet" href="/public/assets/css/layout.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

</head>

<body id="bg-list">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
        <div class="container">
          <a class="navbar-brand" href="/">COMPANY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/" id="link-home-header">Trang Chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="listContact" id="link-contacts-header">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="listUser" id="link-users-header">Người dùng</a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  id="account-name">
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="info" class="dropdown-item">Tài khoản</a>
                  </li>
                  <li>
                    <button class="dropdown-item" type="submit" onclick="logout()">
                      Đăng xuất <i class="bi bi-box-arrow-right"></i>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div>
        <section class="my-4">
            <div class="container">
                <div class="card border-2 border-primary">
                    <div class="card-body row row-cols-1">
                        <div class="col text-center">
                            <img src="/public/assets/img/avatarUser.jpg" class="border boder-primary"
                                alt="avatar" id="img-avatar">
                        </div>
                        <h1 class="fw-bold col text-center my-4" id="username"></h1>
                        <div class="col text-center">
                            <h4>EMAIL: </h4>
                            <p id="email"></p>
                        </div>
                        <div class="col text-center">
                            <h4>ROLES: </h4>
                            <p id="roles"></p>
                        </div>
                        <div class="col text-center">
                            <div class="row row-cols-2 justify-content-evenly gx-3" id="btn-handle">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="view-user" class="container mb-5">
        </section>
    </div>
    <script src="/public/assets/js/infoUser.js" defer></script>
    <script src="/public/assets/js/cookie.js"></script>
</body>

</html>