<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand mt-2" href="/">
        <h4 class="badge badge-success px-4 py-3">
          <i class="fa-solid fa-house pr-2"></i>
          HOME
        </h4>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a class="badge badge-secondary py-3 px-4" href="#">Login</a></li>
      <!-- <li><a href="#">About</a></li> -->
    </ul>
  </div>
</nav>
